.ExperienceScroll {

    margin-top: 120px;
    overflow: hidden;
    display: flex;

}

.scrollWrap {

    display: flex;
    gap: 2vw;
    padding: 2vw;

}

.expCard {
    width: 25vw;
    height: 15vw;
    background: blue;
    border-radius: 20px;
}