.PHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    position: fixed;
    top: 0;
    width: calc(100vw - 64px);
    z-index: 121;
    border-bottom: 1px solid var(--border-color);;
    transition: height 0.5s;
    overflow: hidden;
    backdrop-filter: blur(10px);
    height: 5vw;
}

.HTitle {
    font-family: "druk-wide-bold", serif;
    font-size: 2vw;
    color: #64ffda;
}

.PNavigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7vw;
    flex: 1;

    ul {
        display: flex;
        gap: 3vw;
        list-style-type: none;
    }
}

.navItem {
    position: relative;
    font-family: "magda-regular", serif;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 8px;


    transition: width 0.6s;

    .icon {
        opacity: 0;
        transition: width 0.2s;

        path {
            fill: var(--icon-color) !important;
            stroke: var(--icon-color) !important;
        }
    }
}

.navItem:after {
    content: "";
    background: var(--icon-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    transition: width 1s;

    margin-top: 2px;
}

.navItem:hover:after {
    content: "";
    background: var(--icon-color);
    height: 2px;
    width: 80px;
}

.active:after {
    content: "";
    background: var(--icon-color);
    height: 2px;
    width: 100px;
}

.active {

    width: 100px;

    .icon {
        opacity: 1 !important;
    }
}

.navItem:hover {

    width: 100px;

    .icon {
        opacity: 1;
    }
}

@media only screen and (max-width: 1200px) {

    .HTitle {
        font-size: 1.5vw;
    }

    .PHeader {
        height: 8vw;
    }

}

@media only screen and (max-width: 600px) {

    .PHeader {
        padding-left: 24px !important;
    }

    .PNavigation {
        display: none;
    }

    .HTitle {
        font-size: 18px;
    }

    .PHeader {
        height: 48px;
    }

}


