:root {

    /* Text Colors */
    --primary-text-color: black;
    --inverted-text-color: white;

    /*  background colors */
    --primary-background-color: #0a192f;
    --inverted-background-color: black;
    --btn-hovered-background-color: green;
    --scaling-background-color: white;
    --upcoming-background-color: white;
    --header-background: white;

    /* initial scales */
    --background-scale: 1;
    --upcoming-background-scale: 0;
    __card_background_scale: 0;
    __card_border_scale: 0;

    /* borders */
    --border-color: black;
    --icon-color: black;

    /* Disable color schemes taking effect from other libraries*/
    color-scheme: none;

}

/*#nativeCard::after {*/
/*    left: var(--border-left);*/
/*    right: 0;*/
/*    bottom: var(--border-left);*/
/*    height: var(--border-height);*/
/*}*/

/*!* Left shadow *!*/
/*#nativeCard::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    background: black;*/
/*    top: 12px;*/
/*    bottom: -12px;*/
/*    left: -12px;*/
/*    width: 12px;*/
/*}*/