:root {

    /* Text Colors */
    --primary-text-color: black;
    --inverted-text-color: white;

    /*  background colors */
    --primary-background-color: white;
    --inverted-background-color: black;
    --btn-hovered-background-color: green;
    --scaling-background-color: white;
    --upcoming-background-color: white;
    --header-background: white;

    /* initial scales */
    --background-scale: 1;
    --upcoming-background-scale: 0;
    __card_background_scale: 0;
    __card_border_scale: 0;

    /* borders */
    --border-color: black;
    --icon-color: black;

    /* Disable color schemes taking effect from other libraries*/
    color-scheme: none;

}
